@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  color: #2f2f2f;
  background-color: #ffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}